<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>{{ object.title }}</h1>
                <p>{{ object.title_description|linebreaks }}</p>
                {% if title_btn_url %}
                    <p><a class="btn btn-primary btn-lg" href="{{ title_btn_url }}" role="button">{{ title_btn }}</a></p>
                {% endif %}
            </div>
            {% if object.video_embed %}
                <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        {{ object.video_embed|safe }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
  <!-- Example row of columns -->
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row">
                <div class="col-xs-12" style="background-color: #ccc;">
                    <p>
                    {% include 'pages/snippets/join-form.html' with form=form %}
                        </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {{ object.content|safe }}
    </div>
</div>